:root {
    /* Primary */
    --orange: rgb(255, 125, 26);
    --pale-orange: rgb(255, 237, 224);

    /* Neutral */
    --Very-dark-blue: rgb(29, 32, 37);
    --Dark-grayish-blue: rgb(104, 112, 125);
    --Grayish-blue: rgb(182, 188, 200);
    --Light-grayish-blue: rgb(247, 248, 253);
    --White: rgb(255, 255, 255);
    --Black: rgb(0, 0, 0);
    --Light-box-black: rgba(0, 0, 0, .75);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
ul {
    list-style: none;
}
a {
    color: currentColor;
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    line-height: 1.1;
}
.click {
    cursor: pointer;
    user-select: none;
}
body {
    font-family: 'Kumbh Sans', sans-serif, Arial;
    display: grid;
    grid-template-columns: 1.5fr 5fr 5fr 1.5fr;
    background-color: var(--White);
}
aside {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 30%;
    left: 0;
    background-color: var(--White);
    padding: 2rem;
    box-shadow: 30vw 0 var(--Light-box-black);
}
aside ul {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 700;
}
header {
    grid-column: 2 / 4;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid var(--Light-grayish-blue);
    align-items: center;
}
header nav figure {
    display: flex;
    align-items: center;
    gap: 1rem;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Dark-grayish-blue);
    gap: 2rem;
}
header nav ul {
    display: flex;
    gap: 1.5rem;
}
header nav li a {
    display: flex;
    padding: 2.5rem 0;
    border-bottom: 3px solid transparent;
    transition: border-bottom .1s ease .05s,
                color .1s ease;
}
header nav li a:hover {
    border-bottom: 3px solid var(--orange);
    color: var(--Very-dark-blue);
}
header section figure {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.5rem;
    position: relative;
}
#notificacao {
    position: absolute;
    width: 20px;
    height: 8px;
    padding: .5rem;
    background-color: var(--orange);
    color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
    border-radius: 12px;
    top: .4rem;
    right: 5rem;
    font-weight: 700;
}
#profile {
    width: 3rem;
}

main {
    grid-column: 2 / 4;
    gap: 5rem;
    display: grid;
    align-items: center;
    padding: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.img-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 1.5vw;
}
.img-area img {
    border-radius: 12px;
    width: 100%;
}
.img-area img:nth-child(1) {
    grid-column: 1 / 5;
}
.img-area img:nth-child(2):not(.arrows img) {
    opacity: .5;
}
#img-overlay {
    background-color: var(--Light-box-black);
    position: fixed;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: +1;
}
#img-overlay .overlay-box {
    width: 22.5rem;
    position: relative;
    gap: inherit 1rem;
    padding: 0;
}
#img-overlay img:not(img:nth-child(1), #close-overlay, .arrows img) {
    max-width: 4rem;
    width: 100%;
    justify-self: center;
    transition: opacity .1s ease;
}
.img-area img:not(img:nth-child(1), #close-overlay, .arrows img):hover {
    filter:opacity(.75);
}
img#close-overlay {
    position: absolute;
    width: 16px;
    top: -2rem;
    right: 0;
}
#img-overlay {
    display: none;
}
.arrows {
    display: flex;
    position: absolute;
    left: -1rem;
    right: -1rem;
    top: 35%;
    justify-content: space-between;
}
.arrows img {
    background-color: var(--White);
    border-radius: 50%;
    height: 36px;
    width: 36px;
    padding: .75rem;
}

.text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: var(--Very-dark-blue);
    padding: 1rem;
    gap: 1.5rem;
}
.title-area {
    display: grid;
    gap: .75rem;
}
h1 {
    font-size: 2.25rem;
}
h3 {
    color: var(--orange);
    font-size: .75rem;
}
p {
    font-size: .825rem;
    color: var(--Dark-grayish-blue);
}
h2 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 12px;
}
main span {
    font-size: .75rem;
    color: var(--orange);
    background-color: var(--pale-orange);
    padding: .25rem .4rem;
    border-radius: 5px;
}
h4 {
    color: var(--Grayish-blue);
    font-size: .825rem;
    text-decoration: line-through;
}
section:has(h2) {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.buy-area {
    display: flex;
    gap: 12px;
}
.num-add {
    display: flex;
    max-width: 9rem;
    border-radius: 6px;
    overflow: hidden;
}
.num-add input {
    background-color: var(--Light-grayish-blue);
    border: none;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif, Arial;
    font-weight: 700;
    width: 100%;
}
input:focus {
    outline: none;
}
.num-add div {
    background-color: var(--Light-grayish-blue);
    font-size: 1.5rem;
    color: var(--orange);
    padding: .5rem;
    font-weight: 700;
}
.num-add div:hover::first-letter{
    opacity: .5;
}
button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--orange);
    width: 100%;
    color: var(--pale-orange);
    font-weight: 700;
    border-radius: 6px;
    min-width: 7.2rem;
    transition: opacity .1s ease;
}
button:hover {
    opacity: .75;
}
button img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(4%) saturate(2258%) hue-rotate(307deg) brightness(99%) contrast(105%);
    width: 16px;
}

@media (min-width: 900px) {
    #menu {
        display: none;
    }
}
@media (max-width: 900px) {
    header nav ul {
        display: none;
    }
    header {
        padding: 1rem 1.5rem;
        grid-column: 1 / 5;
        gap: .75rem;
    }
}
@media (max-width: 700px) {
    header section figure {
        gap: .75rem;
    }
    #profile, #cart {
        width: 1.35rem;
    }
    #notificacao {
        top: -0.3rem;
        right: 1.35rem;
    }
    main {
        grid-column: 1 / 5;
        padding: 0;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .price-area {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .text-area {
        max-height: none;
        padding: 2rem 2rem 4rem 2rem;
    }
    .img-area {
        padding: 0;
    }
    .img-area img {
        border-radius: 0;
    }
    .img-area img:not(img:nth-child(1)) {
        display: none;
    }
}